<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>lab3</title>
    <style>
        .suck {
            border: 2px dashed black;
            padding: 5px;
            width: 200px;
        }
    </style>
</head>
<body>

<p class="suck">
    <a href="page1">Ссылка на первую страницу</a> <br>
    <a href="page3">Ссылка на третью страницу</a>
</p>

<input id="request" type="text"> <button onclick="count()">Посчитать</button>
<br>
<h1 id="response" type="text" style="margin-top: 5px;"></h1>
<script>
    async function count() {
        let str = document.getElementById("request").value;
        const host = "http://localhost:8080/api/count?str=";
        const response = await fetch(`${host + str}`, { method: 'POST' });
        const json = await response.json();
        document.getElementById("response").innerHTML = `${json.value}`;
    }
</script>
</body>
</html>
